DATABASE_URL_DEV=sqlite+aiosqlite:///./.db
DATABASE_URL_PROD=postgresql+asyncpg://admin:admin@127.0.0.1:5432/app
PRJ_DEV_MODE=true

REDIS_URL=redis://redis:6379/0

APP_NAME=online-library
APP_DESCRIPTION=with <3 by palacinke i kafa
APP_VERSION=0.1.0
ENABLE_API_DOCS=true

APP_SECRET_KEY=ril73-is-a-very-secret-key-that-is-at-least-32-bytes-long
ACCESS_TOKEN_EXPIRE_MINUTES=24
