DATABASE_URL_DEV=sqlite+aiosqlite:///./.db
DATABASE_URL_PROD=postgresql+asyncpg://admin:admin@127.0.0.1:5432/app

APP_NAME=online-library
APP_DESCRIPTION=with <3 by palacinke i kafa
APP_VERSION=0.1.0
ENABLE_API_DOCS=true
